<header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/study">
            <i class="fas fa-2x fa-code"></i>
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="aimNav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="aimNav" class="navbar-menu">
          <div class="navbar-start">
            <a href="/study" class="navbar-item">
              Home
            </a>
            <% if (currentUser) { %>
              <a href="/study/new" class="navbar-item">
                Create Entry
              </a>
            <% } %>
          </div>
      
          <div class="navbar-end">
            <% if (currentUser) { %>
              <div class="navbar-item">Hello <%= currentUser.username %></div>
              <% } %>
            <div class="navbar-item">
              <div class="buttons">
                <% if (!currentUser) { %>
                <a class="button sign-up" href="/users/new">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/sessions/new">
                  Log in
                </a>
                <% } %>
                <% if (currentUser) { %>
                <form action="/sessions?_method=DELETE" method="POST">
                  <input class="button is-dark" type="submit" value="Log Out" />
                </form>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </nav>
</header>