@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

.unit {
    padding: 3%;
    background-color: #7FD8BE!important;
    border-radius: 5%;
}

.sign-up {
    background-color: #7FD8BE!important;
    border: 1px solid #7FD8BE!important;
}

li {
    margin-bottom: 5px;
}

.form-container {
    background-color: #7FD8BE;
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    padding: 2%;
    border-radius: 5%;
}

.user-form-container {
    background-color: #7FD8BE;
    margin: auto;
    display: flex;
    justify-content: center;
    width: 50%;
    padding: 2%;
}

footer {
    margin-top: 10%;
}

.navbar-item:hover {
    color: #000000!important;
}

a {
    color: #335C67;
}

.skill-name {
    font-family: 'Roboto Mono', monospace;
}