<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <%- include ('../partials/header.ejs') %>
        <h1>Edit Subject</h1>
        <%- include ('../partials/form.ejs') %>
    </body>
</html>