<!DOCTYPE html>
<html>
    <head>
        <%- include ('../partials/head.ejs') %>
    </head>
    <body>
        <%- include ('../partials/header.ejs') %>
        <h1 class="is-size-4 has-text-centered">Edit Subject</h1><br/>
        <%- include ('../partials/form.ejs') %>
    </body>
</html>